{{ define "main" }}

<div>
    <div class="mb-2">
        <h2 class="mb-2 text-2xl text-mono font-bold tracking-wide post-title">
            {{ .Title }}
        </h2>
        <time class="text-sm font-mono text-gray-400">
            Posted on {{ dateFormat "Jan 2, 2006" .Date }}
        </time>
    </div>

    <article class="prose max-w-none pt-2 pb-2">{{ .Content }}</article>

    <!-- List tags -->
    <ul class="lowercase pb-4 text-sm space-x-2 flex post-tags">
        {{ range .Data.Terms.Alphabetical }}
        <li class="ml-2">
            <a class="border-b-3 border-yellow-500 hover:bg-red-400" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>

{{ end }}