{{ define "main" }}

<div class="mb-2">
    <h2 class="mb-2 text-xl text-mono font-bold tracking-wide title">
        All tags
    </h2>
</div>

<!-- List Posts -->
<div class="space-y-3">
    <ul class="space-y-2 text-sm font-mono tags">
        {{- range .Data.Pages -}}
        {{- if (not (in (.Site.Params.excludedTypes | default (slice "page")) .Type)) -}}
        <li class="font-mono space-x-2 md:flex md:items-center">
            <a href="{{ .RelPermalink }}" class="font-bold border-b-3 border-yellow-400 hover:bg-red-400">
                {{ .Title }}
            </a>
            <time class="block mt-1 text-xs text-gray-400">{{ dateFormat "Jan 2, 2006" .Date }}</time>
        </li>
        {{- end -}}
        {{- end -}}
    </ul>
</div>

<hr class="border-2 border-yellow-600 border-dashed" />

{{ end }}